<mat-toolbar color="primary">
  <span>Tax Compliance Dashboard</span>
  <span class="spacer"></span>
  <button
    mat-raised-button
    color="primary"
    (click)="loadComponent('dashboard')"
  >
    Dashboard
  </button>

  <button
    mat-raised-button
    color="accent"
    (click)="loadComponent('complianceChecker')"
  >
    Compliance Checker
  </button>

  <button mat-raised-button color="warn" (click)="loadComponent('taxFilings')">
    Tax Filings
  </button>
</mat-toolbar>

<ng-template #dynamicComponent></ng-template>
